body {
 	background-image: url(../img/bark0.JPG);
	background-attachment: fixed;
}

.content {
	background-color: rgba(255, 255, 255, .7);
}

.greeting {
	font-size: 20rem;
}

.lLeft {
	font-size: .8rem;
	text-align: left;
} .lCenter {
	font-size: .8rem;
	text-align: center;
} .lRight {
	font-size: .8rem;
	text-align: right;
}

@media only screen and (max-width: 576px) {
	.greeting {
		font-size: 15rem;
	}
	.lLeft .lRight {
		text-align: center;
		font-size: 4rem;
	}
}

@media only screen and (max-width: 400px) {
	.greeting {
		font-size: 10rem;
	}
}
