body {
 	background-image: url(../img/SHT.jpg);
  background-color: #9aa5b7;
	background-attachment: fixed;
  background-position: right;
  background-size: cover;
}

#content {
	background-color: rgba(255, 255, 255, .7);
}

#greeting {
	font-size: 20rem;
}

#lower {
	font-size: .8rem;
}

#lower img {
  height: 1rem;
  width: auto;
}

.lLeft {
	text-align: left;
} .lCenter {
	text-align: center;
} .lRight {
	text-align: right;
}

@media only screen and (max-width: 576px) {
	#greeting {
		font-size: 15rem;
	}
	#lower div {
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	#greeting {
		font-size: 10rem;
	}
}
