body {
 	background-image: url(../img/bark0.JPG);
	background-attachment: fixed;
}

.content {
	background-color: rgba(255, 255, 255, .7);
}

.greeting {
	font-size: 20rem;
}

.lower {
	font-size: .8rem;
} .lLeft {
	text-align: left;
} .lCenter {
	text-align: center;
} .lRight {
	text-align: right;
}

@media only screen and (max-width: 576px) {
	.greeting {
		font-size: 15rem;
	}
	.lower {
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	.greeting {
		font-size: 10rem;
	}
}
